<footer class="site-footer">

  <div class="wrap">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <!-- 
    <div class="footer-col-1 column">
      <ul>
      <li>{{ site.title }}</li> 
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div> 
    -->

    <div class="footer-col-1 column">
      <div class="social-icons">
        {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fab fa-github"></i>
          </a>
        {% endif %}

        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fab fa-twitter"></i>
          </a>
        {% endif %}

        {% if site.instagram_username %}
          <a href="https://instagram.com/{{ site.instagram_username }}">
            <i class="fab fa-instagram"></i>
          </a>
        {% endif %}

        {% if site.goodreads_username %}
          <a href="https://goodreads.com/{{ site.goodreads_username }}">
            <span class="goodreads-icon">g</span>
          </a>
        {% endif %}
      </div>
      <div class="username-container">
        <span class="username">   rogereo</span>
      </div>
    </div>


    <div class="footer-col-2 column">
      <p class="text"></p>
    </div> 

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
