<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
      <div class="progress-bar"></div>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {% if page.url == "/" %}
        <p class="quote">"Code is the source of truth" - Andrej Karpathy</p>
        <h2 class="blog-subtitle">Blog</h2>
      {% endif %}
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
    window.addEventListener('scroll', function() {
    let winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    let height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    let scrolled = (winScroll / height) * 100;
    document.querySelector('.progress-bar').style.width = scrolled + '%';
    });
    </script>
    </body>
</html>
